@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "js-openhuninn-1.1";
  src: local("js-openhuninn-1.1"),
    url('./jf-openhuninn-1.1.ttf');
}

/* ==================== 共用 ==================== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: middle;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 70px 0;
  text-align: center;
}

.section h2 {
  text-align: center;
  font-family: 'Roboto Mono',
    monospace;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: .5em 1em;
  font-size: 30px;
  margin-bottom: 1.5em;
  position: relative;
}

.section h2::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
}

input,
button {
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

/* ==================== 個別設定 ==================== */
h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu li {
  text-align: right;
  color: #fff;
  position: relative;
}

.menu li .slider {
  border-radius: 60px 0 0 60px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  position: absolute;
  right: 100%;
  text-align: center;
  width: 0;
  transition: width .5s .1s;
}

.menu li .slider span {
  font-family: 'Roboto Mono',
    monospace;
  white-space: nowrap;
  opacity: 0;
  transition: .8s;
}

.menu li:hover .slider {
  width: 150px;
  transition: .5s;
}

.menu li:hover .slider span {
  opacity: 1;
  transition: 1s .2s;
}

.menu a {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  width: 60px;
}

.menu .fa {
  vertical-align: middle;
}

.menu #todo-left {
  font-family: 'Roboto Mono',
    monospace;
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #edbb4c;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}

.menu #todo-left:empty {
  background-color: transparent;
}

.weather {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 15px 5px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.weather #icon {
  width: 100px;
  margin-right: 20px;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.weather-info #des {
  font-size: 20px;
  margin-bottom: .5em;
}

.weather-info span {
  font-size: 24px;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.banner {
  width: 100%;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .4) 100%),
    url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80') no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-align: center;
  color: #fff
}

.text h2 {
  padding: 0;
}

.text h2::after {
  display: none;
}

.time span {
  display: block;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: .2em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  letter-spacing: .2em;
}

.banner p {
  font-size: 30px;
  font-family: 'Roboto Mono',
    'js-openhuninn-1.1',
    "微軟正黑體",
    "Microsoft JhengHei",
    monospace,
    sans-serif;
  letter-spacing: .1em;
  color: #fff;
  opacity: 0;
  transition: 1s;
}

.banner p.appear {
  opacity: 1;
  transition: 1s;
}

.todo h2 {
  background-color: #edbb4c;
}

.todo h2::after {
  border: 2px solid #edbb4c;
}

.todo-content {
  width: 50%;
  margin: auto;
}

.todo-content form {
  display: block;
  font-size: 0;
  margin-bottom: 40px;
}

.todo-content input,
.todo-content button {
  height: 40px;
  font-size: 24px;
}

.todo-content input {
  width: 75%;
  padding: 0 .5em;
  font-family: 'Roboto Mono', 'js-openhuninn-1.1', "微軟正黑體", "Microsoft JhengHei", monospace, sans-serif;
  color: #184D47;
  border-bottom: 1px solid #184D47;
  margin-right: 5%;
  caret-color: #184D47;
}

.todo-content input::placeholder {
  color: #ccc;
  transition: .5s;
}

.todo-content input:focus::placeholder {
  color: transparent;
}

.todo-content button {
  width: 20%;
  color: #fff;
  background-color: #184D47;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
}

.todo-content ul {
  width: 100%;
  text-align: left;
  border-radius: 10px;
}

.todo-content li {
  font-family: 'Roboto Mono', 'js-openhuninn-1.1', "微軟正黑體", "Microsoft JhengHei", monospace, sans-serif;
  font-size: 24px;
  padding: .8em 1em;
  margin-bottom: .5em;
  border-radius: 10px;
  background-color: rgba(145, 183, 122, 0.2);
  color: #184D47;
}

.todo-content li::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.todo-content .completed {
  text-decoration: line-through;
  background-color: rgba(204, 204, 204, 0.5);
}

.todo-content .fa-minus-circle {
  color: #DD403A;
  height: auto;
  float: right;
}

.relaxer {
  background-color: #293B3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.relaxer h2 {
  color: #293B3A;
  background-color: #fff;
  margin-bottom: 0;
}

.relaxer h2::after {
  border: 2px solid #fff;
}

.play-group {
  position: relative;
}

.play-group #text-btn {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 46px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.play-group span {
  font-size: 16px;
  display: none;
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto Mono',
    monospace;
}

.circle-group {
  transform: rotate(-90deg);
  z-index: 0;
  vertical-align: middle;
}

circle:first-child {
  stroke-width: 20;
  stroke: rgba(145, 183, 122, 0.2);
  fill: none;
}

#moving-circle {
  stroke-width: 20;
  stroke: rgb(145, 183, 122);
  fill: none;
  transition: 1s linear;
  stroke-linecap: round;
}

.btn-group {
  display: flex;
}

.btn-group .item {
  position: relative;
}

.btn-group button {
  width: 180px;
  border: 3px solid #91B77A;
  background-color: transparent;
  color: #91B77A;
  font-size: 28px;
  line-height: 54px;
  border-radius: 200px;
  margin: 0 50px;
  font-family: 'Roboto Mono',
    monospace;
}

.btn-group .des {
  font-family: 'Roboto Mono',
    'js-openhuninn-1.1',
    "微軟正黑體",
    "Microsoft JhengHei",
    monospace,
    sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #91B77A;
  width: 270px;
  padding: 15px;
  border-radius: 15px;
  line-height: 1.5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130%;
  margin: auto;
  display: none;
  z-index: 1;
  text-align: left;
}

.btn-group .des::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  border: 15px solid transparent;
  border-top-color: #91B77A;
}

.btn-group button:hover,
.btn-group button.active {
  background-color: #91B77A;
  color: #fff;
}

.btn-group button:hover+.des {
  display: block;
}